body{
  font-family:'trebuchet MS';
  background-image: url(https://bit.ly/2S9zkz7);
  color:#421C52;
}
.name{
  text-align: center;
  border: 4px solid #9C8AA5;
  background-color:#9C8AA5;
  color:inherit;
  font-family: inherit;
}
.parallax{
  background-image: url(https://bit.ly/2S9zkz7);
  height:2010px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.pets{
  float: left;
  width:400px;
  border:4px solid #BDAEC6;
  background-color:#BDAEC6;
}

